body {
	font-size:100%;
	line-height: 1.45;
}

.main-container {
	width: 100%;
	font-family: sans-serif;
	align-items: center;
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 2%;
}

.main-section {
	padding: 2%;
	display: block-flex;
	flex-flow: row wrap;
	width: 80%;
	max-width: 100%;
	border-radius: 8px;
  border: 2px solid #dedede;
  align-items: center;
  justify-content: space-between;
}

.main-section h1 {
	text-align: center;
	max-width: 100%;
	/*font-size: 3.2vw;*/
	align-items: center;
}

.main-section h2 {
	/*font-size: 2.2vw;*/
}

.risk-level {
	max-width:80%;
	display: block-flex;
	align-items: center;
	justify-content: space-between;
}

.risk-level h2 {
	/*font-size: 2.2vw;*/
}

.risk-level-input {
	max-width: 100%;
}

.chart {
	margin: auto;
	max-width: 50%;
	display: block-flex;
	align-items: center;
	text-align: center;
	font-size: 1.6vw;
}